<section class="section-marcas">
    <h3 class="text-marcas">Las mejores marcas para vos</h3>
    <div class="container-marcas">

        <div class="container-cards">

        <div class="card-marca">
            <div class="bg-img">
                <img class="img-default" src="assets/img-marcas/amd/3.png" alt="">
            </div>
            <div class="title-img">
                <img class="img-default" src="assets/img-marcas/amd/3-mob.png" alt="">
            </div>
            <div class="related-img">
                <a [routerLink]="['/producto/procesadores/21/micro-amd-ryzen-5-7600-c%2Fvideo-c%2Fcooler-am5']" class="img2">
                    <img class="related-img-2" src="assets/img-marcas/amd/micro-amd-ryzen-5-7600.jpeg" alt="">
                  </a>

                  <a [routerLink]="['/producto/procesadores/21/micro-amd-ryzen-5-7600-c%2Fvideo-c%2Fcooler-am5']" class="img2">
                    <img class="related-img-2" src="assets/img-marcas/amd/micro-amd-ryzen-5-7600.jpeg" alt="">
                  </a>

                  <a [routerLink]="['/producto/procesadores/21/micro-amd-ryzen-5-7600-c%2Fvideo-c%2Fcooler-am5']" class="img2">
                    <img class="related-img-2" src="assets/img-marcas/amd/micro-amd-ryzen-5-7600.jpeg" alt="">
                  </a>
                  
                

            </div>
            <div class="btn">
                <a>Ver mas</a>
            </div>
        </div>

        <div class="card-marca">
            <div class="bg-img">
                <img class="img-default" src="assets/img-marcas/hyperx/1.png" alt="">
            </div>
            <div class="title-img">
                <img class="img-default" src="assets/img-marcas/hyperx/1-mob.png" alt="">
            </div>
            <div class="related-img">
               
                <a [routerLink]="['producto/perifericos/88/auriculares-hp-hyperx-cloud-flight-wireless-pc-ps4-black%2Fred']" class="img2">
                    <img class="related-img-2" src="assets/img-marcas/hyperx/auriculares-hyperx-cloud.jpeg" alt="">
                  </a>

                  <a [routerLink]="['producto/perifericos/88/auriculares-hp-hyperx-cloud-flight-wireless-pc-ps4-black%2Fred']" class="img2">
                    <img class="related-img-2" src="assets/img-marcas/hyperx/auriculares-hyperx-cloud.jpeg" alt="">
                  </a>

                  <a [routerLink]="['producto/perifericos/88/auriculares-hp-hyperx-cloud-flight-wireless-pc-ps4-black%2Fred']" class="img2">
                    <img class="related-img-2" src="assets/img-marcas/hyperx/auriculares-hyperx-cloud.jpeg" alt="">
                  </a>

            </div>
            <div class="btn">
                <a>Ver mas</a>
            </div>
        </div>

        <div class="card-marca">
            <div class="bg-img">
                <img class="img-default" src="assets/img-marcas/msi/10.png" alt="">
            </div>
            <div class="title-img">
                <img class="img-default" src="assets/img-marcas/msi/10-mob.png" alt="">
            </div>
            <div class="related-img">
                <a [routerLink]="['producto/placas-de-video/3/video-geforce-rtx-2060-6gb-msi-ventus-gp-oc']" class="img2">
                    <img class="related-img-2" src="assets/img-marcas/msi/video-geforce-rtx-2060.jpeg" alt="">
                  </a>

                  <a [routerLink]="['producto/placas-de-video/3/video-geforce-rtx-2060-6gb-msi-ventus-gp-oc']" class="img2">
                    <img class="related-img-2" src="assets/img-marcas/msi/video-geforce-rtx-2060.jpeg" alt="">
                  </a>

                  <a [routerLink]="['producto/placas-de-video/3/video-geforce-rtx-2060-6gb-msi-ventus-gp-oc']" class="img2">
                    <img class="related-img-2" src="assets/img-marcas/msi/video-geforce-rtx-2060.jpeg" alt="">
                  </a>


            </div>
            <div class="btn">
                <a>Ver mas</a>
            </div>
        </div>


        <div class="card-marca">
            <div class="bg-img">
                <img class="img-default" src="assets/img-marcas/asus/8.png" alt="">
            </div>
            <div class="title-img">
                <img class="img-default" src="assets/img-marcas/asus/8-mob.png" alt="">
            </div>
            <div class="related-img">
                <a [routerLink]="['producto/motherboards/76/mother-asus-rog-strix-z690-f-gaming-wifi-ddr5-s1700']" class="img2">
                    <img class="related-img-2" src="assets/img-marcas/asus/mother-asus-rog-strix-z690.jpeg" alt="">
                  </a>

                  <a [routerLink]="['producto/motherboards/76/mother-asus-rog-strix-z690-f-gaming-wifi-ddr5-s1700']" class="img2">
                    <img class="related-img-2" src="assets/img-marcas/asus/mother-asus-rog-strix-z690.jpeg" alt="">
                  </a>

                  <a [routerLink]="['producto/motherboards/76/mother-asus-rog-strix-z690-f-gaming-wifi-ddr5-s1700']" class="img2">
                    <img class="related-img-2" src="assets/img-marcas/asus/mother-asus-rog-strix-z690.jpeg" alt="">
                  </a>
            </div>
            <div class="btn">
                <a>Ver mas</a>
            </div>
        </div>

        <div class="card-marca">
            <div class="bg-img">
                <img class="img-default" src="assets/img-marcas/logitech/4.png" alt="">
            </div>
            <div class="title-img">
                <img class="img-default" src="assets/img-marcas/logitech/4-mob.png" alt="">
            </div>
            <div class="related-img">

                <a [routerLink]="['/producto/perifericos/106/auricular-logitech-g733-wireless-lightspeed-rgb-lila-981-000889']" class="img2">
                    <img class="related-img-2" src="assets/img-marcas/logitech/auricular-logitech-g733-wireles.png" alt="">
                  </a>
                  <a [routerLink]="['/producto/perifericos/106/auricular-logitech-g733-wireless-lightspeed-rgb-lila-981-000889']" class="img2">
                    <img class="related-img-2" src="assets/img-marcas/logitech/auricular-logitech-g733-wireles.png" alt="">
                  </a>
                <a [routerLink]="['/producto/perifericos/106/auricular-logitech-g733-wireless-lightspeed-rgb-lila-981-000889']" class="img2">
                    <img class="related-img-2" src="assets/img-marcas/logitech/auricular-logitech-g733-wireles.png" alt="">
                  </a>

            </div>
            <div class="btn">
                <a>Ver mas</a>
            </div>
        </div>

    </div>




    </div>
</section>