<div class="nav">

    <div class="nav-home">
        <a routerLink="/">Home</a>
    </div>
    <div class="nav-input-search">
        <input type="search" name="" id="">
        <button>Q</button>
    </div>
    <div class="nav-links">
        <a class="container-user" routerLink="/administrador">
            <img class="user" src="../assets/user.png" alt="">
        </a>
        <a class="container-cart" routerLink="/finalizar-compra">
            <!-- <div class="container-num"><p>{{cantidadElementosCarrito}}</p></div> -->
            <img class="cart" src="../assets/cart.png" alt="">
        </a>
    </div>
</div>
<div class="nav-links-router">

    <a routerLink="/productos/pc-armadas">PC Armadas</a>
    <a routerLink="/productos">Componentes</a>
    <a routerLink="/productos/notebooks">Notebooks</a>
    <a routerLink="/productos/monitores">Monitores</a>
    <a routerLink="/ayuda">Ayuda</a>



</div>

<router-outlet></router-outlet>