* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: rgb(27, 27,27);
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 50px
}

.nav-input-search {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 400px;
}

.nav-input-search > input {
    width: 100%;
    height: 100%;
}

.nav-links {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.nav-links > div {
    width: 25px;
}

.cart, .user {
    width: 25px;
    margin: 0 5px;
}

.container-cart {
    position: relative;
}

.container-num{ 
    display: flex;
    height: 18px;
    width: 18px;
    justify-content: center;
    align-items: center;
    background-color: red;
    position: absolute;
    bottom: 22px;
    left: 22px;
    border-radius: 50%;
    padding: 5px;
}

.container-num > p{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}


.nav-links-router {
    width: 100%;
    height: 60px;
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-links-router > a {
    text-decoration: none;
    color: #b6b6b6;
}

.nav-links-router > a:hover {
    color:#2085f1;
}