<div class="nav">

    <div class="nav-home">
        <a routerLink="/">TechHub</a>
    </div>

    <div class="container-input">
        <div class="nav-input-search">
            <input type="search" [(ngModel)]="searchTerm" (input)="buscar()" placeholder="Buscar">
            <div class="button-search">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
            </div>
        </div>

        <div *ngIf="searchTerm.trim() !== ''" class="result-list">
              <ul>
                <!-- Si no se encuentran resultados -->
                <li *ngIf="resultados.length == 0" class="not-result">No se encontraron resultados</li>
                <!-- Si se encuentran -->
                <li *ngFor="let componente of resultados" (click)="viewProduct(componente.categoria,componente.id,componente.nombre)">
                    <img [src]="componente.imagen">
                    <p>{{ componente.nombre }}</p>
                </li>

              </ul>
        </div>
          

    </div>
    
    

    <div class="nav-links">
        <a class="container-user" routerLink="/administrador">
            <span class="material-symbols-outlined">person</span>
        </a>
        <a class="container-cart" routerLink="/finalizar-compra">
            <span class="material-symbols-outlined">shopping_cart</span>
        </a>
    </div>
</div>
<div class="nav-links-router">

    <a routerLink="/productos/pc-armadas">PC Armadas</a>
    <a routerLink="/productos">Componentes</a>
    <a routerLink="/productos/notebooks">Notebooks</a>
    <a routerLink="/productos/monitores">Monitores</a>
    <a routerLink="/ayuda">Ayuda</a>



</div>

<router-outlet></router-outlet>
