
<section> 
    <div class="btn-admin">
        <button routerLink="/administrador/agregar-componente" class="btn-agregar-componente"><p>Agregar producto</p></button>
        <select class="form-select" [(ngModel)]="selectedCategory" (change)="onCategorySelected()">
            <option value="">Todas las categorías</option>
            <option value="almacenamiento">Almacenamiento</option>
            <option value="placas-de-video">Placas de video</option>
            <option value="motherboards">Motherboards</option>
            <option value="memorias-ram">Memorias RAM</option>
            <option value="perifericos">Perifericos</option>        
            <option value="monitores">Monitores</option>
          </select>
    </div>

    <div class="contenedor-productos">
        <div class="contenedor productos-titulos">
            
        </div>
        <div class="contenedor lista-productos">
            <div class="producto" *ngFor="let componente of componentesFiltrados">
                <div class="producto-principales">
                    <div class="producto-id"><p>{{componente.id}}</p></div>
                     <div class="producto-datos">
                        <div class="producto-imagen">
                            <img [src]="componente.imagen">
                        </div>
                        <div class="producto-nombre">
                            <p>{{componente.nombre}}</p>
                        </div>
                    </div>
                </div>
                <div class="producto-mas">
                    <div class="box product-categoria">{{transformarUpper(componente.categoria)}}</div>
                    <div class="box product-precio">$ {{componente.precio.toFixed(3)}}</div>
                    <div class="box product-acciones">
                        <button class="acciones-modificar" (click)="actualizarComponente(componente.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/></svg>
                        </button>
                        <button class="acciones-eliminar" (click)="eliminarComponente(componente.id,componente.nombre)" title="Eliminar">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
                        </button>
        
                    </div>  
                </div>
            </div>
        </div>
    </div>

      
    <!-- <div class="container">
        <div class="titulos-componentes">
            <p class="titulo-id">ID</p>
            <p class="titulo-nombre">Producto</p>
            <p class="titulo-categoria">Categoria</p>
            <p class="titulo-precio">Precio</p>
            <p class="titulo-acciones">Acciones</p>
        </div>
            <div class="container-list">
        <div class="producto" *ngFor="let componente of componentesFiltrados" >
            
            <div class="product-id"><p>{{componente.id}}</p></div>
            <div class="product-datos">
                <div class="product-imagen"><img [src]="componente.imagen"></div>
                <div class="datos-nombre"><p>{{componente.nombre}}</p></div>
            </div>
            <div class="product-categoria">{{transformarUpper(componente.categoria)}}</div>
            <div class="product-precio">$ {{componente.precio.toFixed(3)}}</div>
            <div class="product-acciones">
                <button class="acciones-modificar" (click)="actualizarComponente(componente.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/></svg>
                </button>
                <button class="acciones-eliminar" (click)="eliminarComponente(componente.id,componente.nombre)" title="Eliminar">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
                </button>

            </div>
        </div>
    </div>
    </div> -->
</section>