
section {
    width: 100%;
    padding: 50px 100px;
    /* background-color: #d9d9d9; */
    min-height: 100vh;
}

.container {
    width: 90%;
    /* background-color: #EBEBEB; */
    /* height: auto; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* row-gap: 10px; */
}



.btn-admin {
    height: 35px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin-bottom: 15px;
}

.btn-admin > button {
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    height: 100%;
    background-color: #004894;
    border: none;
    border-radius: 3px;
}




.btn-admin > button > p {
    margin: 0 10px;
}

.btn-admin > select {
    height: 100%;
}

.btn-action {
    display: flex;
    flex-direction: row;
}

.btn-action > button {
    padding: 2px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
}


.producto-imagen img {
    width: 60px;
}

.producto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 65px;
    border-radius: 10px;
    width: 100%;
}

.producto-principales {
    display: grid;
    grid-template-columns: 50px 1fr;
    /* background-color: lightblue; */
    /* width: 450px; */
}

.producto-nombre {
    display: flex;
    align-items: center;
}

.producto-datos {
    display: flex;
    column-gap: 10px;
}

.producto-mas {
    display: flex;
}


.product-acciones button svg {
    height: 20px;
}

.producto-mas {
    /* background-color: lightgoldenrodyellow; */
    /* width: 400px; */
    display: grid;
  grid-template-columns: 200px 200px 1fr;
  grid-gap: 10px; /* Espacio entre las columnas */
  align-items: center;
}

.producto-mas div {
    text-align: center;
}

.producto-id {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lista-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}