



<section> 
    <div class="btn-admin">
        <button routerLink="/administrador/agregar-componente" class="btn-agregar-componente"><p>Agregar producto</p></button>
        <select class="form-select" [(ngModel)]="selectedCategory" (change)="onCategorySelected()">
            <option value="">Todas las categorías</option>
            <option value="almacenamiento">Almacenamiento</option>
            <option value="placas-de-video">Placas de video</option>
            <option value="motherboards">Motherboards</option>
            <option value="memorias-ram">Memorias RAM</option>
            <option value="perifericos">Perifericos</option>        
            <option value="monitores">Monitores</option>
          </select>
    </div>
      


    <div class="container">
        <div class="titulos-componentes">
            <p class="titulo-id">ID</p>
            <p class="titulo-nombre">Nombre</p>
            <p class="titulo-categoria">Categoria</p>
            <p class="titulo-precio">Precio</p>
            <p class="titulo-acciones">Acciones</p>
        </div>
        <div class="productos"*ngFor="let componente of componentesFiltrados" >
            <!-- <div class="product-imagen"><img [src]="componente.imagen"></div> -->
            <div class="product-id">{{componente.id}}</div>
            <div class="product-nombre">{{componente.nombre}}</div>
            <div class="product-categoria">{{componente.categoria}}</div>
            <div class="product-precio">{{componente.precio.toFixed(3)}}</div>
            <div class="product-acciones">
                <!-- <button (click)="modificarComponente(componente.id)"><svg _ngcontent-cjf-c7="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width: 15px;"><path _ngcontent-cjf-c7="" d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"></path></svg></button> -->
                <!-- <button ><svg _ngcontent-vir-c7="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path _ngcontent-vir-c7="" d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm88 200H296c13.3 0 24 10.7 24 24s-10.7 24-24 24H152c-13.3 0-24-10.7-24-24s10.7-24 24-24z"></path></svg></button> -->
                <button class="acciones-modificar">L</button>
                <button class="acciones-eliminar" (click)="eliminarComponente(componente.id)">X</button>
            </div>
        </div>
    </div>
</section>